h1 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

.posts-container {
    margin:  auto;
    width: 90%;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-radius: 5px;
}

.post-card {
    width: 30%;
    min-height: 300px;
    margin: 10px;
    background-color: rgb(22, 185, 250);
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.post-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.post-card:hover {
    background-color: rgb(144, 224, 255);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}

/* .post-card h3 a {
    color: black;
    text-decoration: none;
} */

.post-card h3 {
    text-align: center;
    text-decoration: underline;
    margin: 10px;
}

.post-card img {
    width: 90%;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.post-card h4 {
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: 991px) {
    .post-card {
        width: 45%;
    }
}

@media only screen and (max-width: 600px) {
    .post-card {
        width: 90%;
    }
}


/* view.php */

#by {
    font-style: italic;
}

.content {
    text-align: center;
}

h2 {
    text-align: center;
}

.author-info {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#view-pic {
    width: 300px;
    margin: 0 auto;
    border: 1px solid rgb(26, 25, 25);
    border-radius: 5px;
}

.social-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.social-links li {
    font-size: 15px;
    margin: 20px 5px;
    font-weight: bold;
    transition: 0.4s ease;
}

.social-links li:hover {
    color: rgb(20, 20, 233);
    font-size: 18px;
}

